@model StudentClassLibrary.Module

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Module</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lecturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lecturer)
        </dd>
    </dl>
</div>

<!-- Section to display enrolled students -->
<div>
    <h4>Students Enrolled</h4>
    @if (Model.StudentModules != null && Model.StudentModules.Any())
    {
        <ul>
            @foreach (var studentModule in Model.StudentModules)
            {
                <li>
                    <a asp-action="Details" asp-controller="Students" asp-route-id="@studentModule.StudentId">
                        @studentModule.FK_Student.Name
                    </a>
                </li>
            }
        </ul>
    }
    else
    {
        <p>No students are enrolled in this module.</p>
    }
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
