@model StudentClassLibrary.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<!-- Section to display enrolled courses -->
<div>
    <h4>Enrolled Courses</h4>
    @if (Model.StudentModules != null && Model.StudentModules.Any())
    {
        <ul>
            @foreach (var studentModule in Model.StudentModules)
            {
                <li>
                    <a asp-action="Details" asp-controller="Modules" asp-route-id="@studentModule.ModuleId">
                        @studentModule.FK_Module.Name
                    </a>
                </li>
            }
        </ul>
    }
    else
    {
        <p>This student is not enrolled in any courses.</p>
    }
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
